/* Box model

Layout model
    Box model
    Position
    Flexbox
    CSS grid

Box model (modelo de caja)
Todos los elementos HTML son rectángulos

Dos tipos de cajas (o elementos)

*Bloque
    *Ocupa todo el espacio horizontal disponible
    *Crean una línea nueva
    *Tienen ancho (width) y alto (height)
*Inline
    *Ocupan solo el espacio necesario para su contenido
    *No tiene dimensiones (a excepcion de las imagenes)

*Unidades de longitud (medida de tamaño)
    *Pixeles (px)
    *em (porcentaje del tamaño de fuente o letra actual)
    *rem (% del tamaño de fuente o letra de body)
*/
h1{
    background: yellow;
    width: 200px;
    height: 100px;
    display: none;
}
p{
    background: pink;
    display: inline-block;
    height: 50px;
    width: 120px;
}
span{
    background: yellow;
    display: block;
}
img{
    width: 200px;
}

/* Propiedad display 
    block
    inline
    inline-block
    none
    *flex
    *grid    
*/
.box{
    width: 200px;
    height: 100px;
    background: pink;
    /* margin: 10px; */
    /* margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 50px; */
    /* margin: 20px 30px 10px 50px;
    margin: 20px 20px 10px;
    margin: 20px 30px;
    margin: 20px; */
    /* float: left; */
}

/* Centrado con margin */

.box{
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Colapsado de márgenes verticales */
.container{
    width: 400px;
    height: 300px;
    background: yellow;
    padding: 0.1px;
}
.box{
    margin: 50px;
    /* padding: 50px; */
    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; */
    padding: 10px 20px 30px;;    
}
.box-2{
    width: 200px;
    height: 100px;
    background: pink;
    margin-top:-50px;
}

/* Bordes */
.box{
    border: 4px solid black;
}

/* Box sizing */
.box{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: border-box;
}
